<h2><%= @city.name %></h2>

<% if @user == "admin" %>
  <h5><a href="/cities/<%= @city.id %>/edit">Edit</a></h5>
<% end %>

<h3>Stops</h3>
<% if @city.stops.any? %>
  <ul>
    <% @city.stops.each do |stop| %>
      <li><a href="/stops/<%= stop.id %>"><%= stop.departure_pst.strftime('%I:%M %p') %> - <%= stop.train.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no saved stops for this city.</p>
<% end %>

<% if @user == 'admin' %>
  <h3>Add a Stop</h3>
  <form action="/add-stop" method="post">
    <input type="hidden" name="city" value="<%= @city.id %>">
    <div class="form-group">
      <label for="train">Train</label>
      <select class="form-control" name="train">
        <% @trains.each do |train| %>
          <option value="<%= train.id %>"><%= train.name %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label for="departure">Time</label>
      <input type="time" name="departure" class="form-control">
    </div>
    <button type="submit" class="btn">Add</button>
  </form>
<% end %>
