<h2>Stop Detail</h2>

<% if @user == 'admin' %>
  <h5><a href="/stops/<%= @stop.id %>/edit">Edit</a></h5>
<% end %>

<h3>City: <a href="/cities/<%= @stop.city.id %>"><%= @stop.city.name %></a></h3>
<h3>Train: <a href="/trains/<%= @stop.train.id %>"><%= @stop.train.name %></a></h3>
<h3>Time: <%= @stop.departure_pst.strftime('%I:%M %p') %></h3>
